<section class="section yearly-cost">
  <div id="graphSection">
    <h3 class="title">Yearly Cost Estimate</h3>
    <!-- <div id="customactions">
      <label>scroll direction</label>
      <code id="scrollDirection"></code>
      <br>
      <label>state</label>
      <code id="state">outside</code>
      <br>
      <label>last hit</label>
      <code id="lastHit">nothing</code>
      <br>
      <label>progress</label>
      <code id="progress">0</code>
      <br>
      <a href="#" class="viewsource">view source</a>
    </div> -->
    <div class="graph">
      <canvas id="costEstimateGraph" width="400" height="400"></canvas>
    </div>
    <a href="#compareDrugs" id="getGenericDrugsButton" class="btn">See Alternative Medications</a>
  </div>

  <div class="drug-comparisons" id="compareDrugs">
    <h3 class="title">Alternative Generic Medications:</h3>
    <ol class="custom-bullet alternate-pill-list">
    <% @new_list.each do |medication| %>
      <li><%= medication.downcase %></li>
    <% end %>
    </ol>
    <a href="#graphSection" id="updatedChartButton" class="btn">See Updated Chart</a>
  </div>

</section>
