<section class="section" id="medProfile">
  <div class="medical-profile">
    <h3 class="title">Medical Profile</h3>
    <div id="insuranceSection">
      <h3>Your Insurance</h3>
      <!-- if user has already inputted insurance, appears here, if not, form appears -->
      <h4>Medicare part D</h4>
      <h5>Plan number: <%= @user.insurance_plan_number %></h5>
      <!-- Can look up according to Insurance plan #? -->
        <!-- <form id="insurance">
          <label><span>Your Insurance: </span><input name="insurance" type="text" placeholder="Insurance"/></label>
          <input type="submit" value="Save">
        </form> -->
      </div>
      <div id="medications">
        <h3>Your Medications</h3>
        <ol class="custom-bullet pill-list">
          <% @medications.each do |med| %>
          <li><a href="medicine/id"><%= med.name %></a></li>
          <% end %>
        </ol>
        <a href="#"><i class="add fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
        <!-- when user goes over the fa plus circle, rotates 90 (class fa-rotate-90) and changes color -->
      </div>
      <div id="enterMeds">
        <h3>Add a Medicine</h3>

        <form id="medications" name="medications" action='medications' method="post">
        Name of Medication: <input class="formField" type="text" name="name">
          <!--<label><span>Prescription Name: </span><input/></label>   -->
          <input class="formSubmit" type="submit" value="Add">
        </form>

      </div>
    </div>

  <div class='show_donut_button'>
    <%= link_to 'See estimate yearly cost', user_path(@user.id), class:"btn" %>
  </div>

</section>
