<section class="section" id="medProfile">
  <div class="medical-profile">
    <h3 class="title">Medical Profile</h3>
    <div id="insuranceSection">
      <h3>Your Insurance</h3>
        <!-- if user has already inputted insurance, appears here, if not, form appears -->
        <h4>Name of Insurance Type</h4>
        <!-- Can look up according to Insurance plan #? -->
        <form id="insurance">
          <label><span>Your Insurance: </span><input name="insurance" type="text" placeholder="Insurance"/></label>
          <input type="submit" value="Save">
        </form>
    </div>
    <div id="medications">
      <h3>Your Medications</h3>
        <ol class="custom-bullet pill-list">
          <li><a href="medicine/id">Medicine 1</a></li>
          <li><a href="medicine/id">Medicine 2</a></li>
          <li><a href="medicine/id">Medicine 3</a></li>
          <li><a href="medicine/id">Medicine 2</a></li>
        </ol>
        <a href="#"><i class="add fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
        <!-- when user goes over the fa plus circle, rotates 90 (class fa-rotate-90) and changes color -->
    </div>
    <div id="enterMeds">
      <h3>Add a Medicine</h3>
      <form id="medications" name="medications">
        <label><span>Prescription Name: </span><input/></label>
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
  <a href="#graphSection" class="btn">See Estimate Yearly Costs</a>
</section>
