<section class="section home-section" id="home">
  <div class="background-image" style="background-image: url(<%=image_path("background.png")%>);"></div>
  <h1 class="animated fadeInRight">Newfashion Your Part D<br>and Fill the Doughnut Hole</h1>
  <%= link_to 'Enter Your Medications', user_medications_path(1), class:"btn" %>
</section>

<section class="section definition" id="PlanDDefinition">
  <h3 class="title">What is the Doughnut Hole?</h3>
  <p>Ethical enamel pin meh, retro pinterest vape 90's. Poke biodiesel tbh, poutine hoodie green juice taxidermy fam. Tofu air plant gochujang pitchfork flannel next level. Bushwick selvage organic trust fund cliche. Salvia williamsburg vinyl roof party kogi jean shorts. La croix venmo bicycle rights, cronut microdosing schlitz mixtape unicorn gochujang mumblecore succulents. Organic keytar banjo iceland cliche. PBRB wayfarers mlkshk, pinterest tacos etsy mustache humblebrag trust fund tattooed. Dreamcatcher snackwave quinoa, messenger bag gluten-free sriracha kombucha stumptown. Letterpress snackwave kitsch, authentic live-edge subway tile bicycle rights hoodie sartorial vice organic hell of unicorn. Disrupt readymade pok pok flexitarian next level retro. Kitsch hexagon etsy messenger bag copper mug scenester. </p>
</section>
