<section class="section home-section" id="home">
  <div class="background-image" style="background-image: url(<%=image_path("background.png")%>);"></div>
  <h1 class="animated fadeInRight">Newfashion Your Part D<br>and Fill the Donut Hole</h1>
  <%= link_to 'Enter Your Medications', user_medications_path(1), class:"btn" %>
</section>

<section class="section definition" id="PlanDDefinition">
  <h3 class="title">What is the Donut Hole?</h3>
  <p>For those with Medicare Part-D once you and your drug plan have spent a certain amount of money on prescription medications ($3,310 for 2016), you hit a coverage gap known as the "donut hole".</p>

  <p>While in the donut hole, out-of-pocket costs for drugs may increase drastically. You will remain in the donut hole until your out of pocket cost reaches a certain dollar amount ($4,850 for 2016).</p>

  <p><a class="btn" target="blank" href="https://blog.pokitdok.com/donut-hole-medicare-drug-coverage-explained/">Learn More About the Donut Hole</a></p>
</section>
